hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

layout {
    gaps 0

    border {
        off
    }

    focus-ring {
        off
    }
}

cursor {
    hide-after-inactive-ms 60000
}

window-rule {
    match app-id="chromium-browser"
    open-maximized true
    draw-border-with-background false
}

window-rule {
    match app-id="missiond-sidebar"
    default-column-width { fixed 420; }
    open-focused false
}

window-rule {
    match app-id="missiond-toast"
    open-floating true
    open-focused false
    default-column-width { fixed 360; }
}

window-rule {
    match app-id="missiond-stinger"
    focus-ring {
        off
    }
    border {
        off
    }
}

binds {
    Mod+Shift+E { quit skip-confirmation=true; }
    Mod+Q { close-window; }
}
